<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to ZippyYum Awesome Workflow Designer
  </h1>
  <div class="col-12">
    <div class="row">
      <div class="col-9">
        <ng-wf-designer-host *ngIf="dataAvailable" [activityDefinition]="activityDefinition"
          [(workflowModel)]="workflowModel" (workflowModelEdit)="onWorkflowEdit($event)">
        </ng-wf-designer-host>
      </div>
      <div class="col-3 pd-2" *ngIf="selectedActivity">
        <h2 class="text-left">Edit activity</h2>
        <div class="row">
          <div class="col">
            <form [formGroup]="editActivityForm">
              <div class="form-group">
                <div class="form-group">
                  <label for="title" style="float:left">Name</label>
                  <input id="title" class="form-control" formControlName="name">
                </div>
                <label for="title" style="float:left">Title</label>
                <input id="title" class="form-control" formControlName="title">
              </div>
              <div class="form-group">
                <label for="title" style="float:left">Description</label>
                <input id="title" class="form-control" formControlName="description">
              </div>
              <div class="form-group">
                <label for="title" style="float:left">Text Expression</label>
                <input id="title" class="form-control" formControlName="expression">
              </div>
              <button (click)="saveActivity()" type="submit" class="btn-primary btn" style="float:left">Save</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
